﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zarplata</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 15px;
        }

        TABLE {
            border: 5px double #000; /* Рамка вокруг таблицы */
        }

        TD, TH {
            padding: 5px; /* Поля вокруг текста */
            border: 1px solid #000; /* Рамка вокруг ячеек */
        }

        #d1 {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
        }

        #div1 {
            flex-grow: 5;
        }

        #div2 {
            flex-grow: 5;
        }
    </style>
</head>
<body>
    <div id="d1">
        <div id="div1">
            <h3>Робітники з фіксованою оплатою</h3>
            <table>
                <tr>
                    <td><p>Номер Рабочего</p></td>
                    <td><p>ФИО</p></td>
                    <td><p>Зарпата</p></td>
                    <td><p>IC</p></td>
                </tr>
                
                @foreach (var b in ViewBag.SinglePay)
            {
                    <tr>
                        <td><p>@b.Id</p></td>
                        <td><p>@b.Fio</p></td>
                        <td><p>@b.SinglePay()</p></td>
                        <td><p>@b.IC</p></td>

                    </tr>

                }

            </table>
            <h2>@ViewData["Head"]</h2>
            @*@*<button onclick=@ViewBag.Click() value="Knopka">*@

            @*</button>*@
        </div>

        <div id="div2">
            <h3>Робітники з погодинною оплатою</h3>
            <table>
                <tr>
                    <td><p>Номер Рабочего</p></td>
                    <td><p>ФИО</p></td>
                    <td><p>Зарпата</p></td>
                    <td><p>IC</p></td>
                </tr>
                @foreach (var b in ViewBag.HourlyPay)
            {
                    <tr>
                        <td><p>@b.Id</p></td>
                        <td><p>@b.Fio</p></td>
                        <td><p>@b.Payment()</p></td>
                        <td><p>@b.IC</p></td>

                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>